table{
    margin-right: auto;
    margin-left: auto;
    color: white;
}

td,th {
    padding: 2em;
    border: 1px solid black;
    text-align: center;
}

.truth:hover{
    background-color: red;
}

.lie:hover{
    background-color: goldenrod
}